body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
}

/* Slider */
.slider {
    background: #FCF3CF;
    opacity: 2;
}
.slider:hover {
    opacity: 1;
}

/* Grid Properties */
#gridContainer {
    display: grid;
    height: 700px;
    width: 700px;
    border: 1px black solid;
}

.square {
    background: transparent;
}

.squareFill {
    background: black;
}